html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

header[role=banner],
main[role=main] {
  margin: 1rem auto;
  max-width: 30rem;
}

main[role=main] {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.conspicuous {
  font-weight: bold;
  font-style: italic;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}
