html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

header[role=banner],
nav[role=navigation],
main[role=main] {
  margin: 1rem auto;
  max-width: 30rem;
}

nav[role=navigation] {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.conspicuous {
  font-weight: bold;
  font-style: italic;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

/* Inspired by Bootstrap's info alert style */
.info {
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  border-radius: 0.25rem;
  color: #0c5460;
  padding: 0.75rem 1.25rem;
}
