html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

header[role=banner],
nav[role=navigation],
main[role=main],
footer[role=contentinfo] {
  margin: 1rem auto;
  max-width: 30rem;
}

header[role=banner] img {
  max-width: 100%;
}

header[role=banner] p {
  margin-top: 0.5rem;
}

main[role=main],
nav[role=navigation] {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.conspicuous {
  font-style: italic;
  font-weight: bold;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

/* Inspired by Bootstrap's info alert style */
.info {
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  border-radius: 0.25rem;
  color: #0c5460;
  padding: 0.75rem 1.25rem;
}

.showcase {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer[role=contentinfo] {
  font-size: 85%;
  text-align: right;
}
